PORT=3000
FEEDBACK_TO=patric.beckman@adv-tech.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=patrcb88@gmail.com
SMTP_PASS=kpop vozf jmwl dkum
SMTP_FROM="Spot the Phish <patrcb88@gmail.com>"
