body {
  background: #0B0F14;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  border: 1px solid #00E5FF;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 0 10px #00E5FF;
}

.selected {
  border-color: #39FF88;
}

#result {
  margin-top: 30px;
}

.hidden {
  display: none;
}
